 .body { padding-top: 200px; }
 
.products-index-logo1{
     width: 200px;
     height: 100px;
     object-fit: cover;
 }

.products-photo-2{
 width: 200px;
 height: 100px;
 object-fit: cover;
}

.row{
 display: flex;
    justify-content: space-between;
}